:root {
    background-color:   white;
}

button {
    background-color:   #bbb;
    border-color:       #444;
    border-radius:      4px;
    border-width:       1px;
}

button:active {
    background-color: #999;
}

button:hover {
    background-color: #ccc;
}
