ui {
    background:   white;
}

button {
    background: linear-gradient(#ddd, #bbb, #999);
    border-color:       #444;
    border-radius:      4px;
    border-width:       1px;
    margin: 3px;
}

button:active {
    background: linear-gradient(#555, #777, #999);
}

button:hover {
    background: linear-gradient(#ddd, #ccc, #bbb);
}


checkbox-indicator {
    background: linear-gradient(#ddd, #bbb, #999);
    border-color:       #444;
    border-radius:      2px;
    border-width:       1px;
}

checkbox-indicator:active {
    background: linear-gradient(#555, #777, #999);
}

checkbox-indicator:hover {
    background: linear-gradient(#ddd, #ccc, #bbb);
}

